{% extends 'store/main.html' %}

{% load static %}

{% block content %}
<br><br>
<h3><b>Leafy Greens</b></h3>

<div class="row">
    {% for product in products %}
    <div class="col-lg-42">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a><br><br>
            <h4 style="display: flex;"><strong>${{ product.price|floatformat:2 }}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>

<br><br>
<h3><b>Other Products</b></h3>

<div class="row">
    {% for product in products %}
    <div class="col-lg-42">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a><br><br>
            <h4 style="display: flex;"><strong>${{ product.price|floatformat:2 }}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}